ul {
    list-style-type: none;
}

a {
    color: white;
}

a {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #fff;
}

.carousel-item img {
    width: 70%;
    margin: 0 auto;
}

main {
    padding: 20px 0;
}

footer {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343a40;
    color: #fff;
}